{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "session-backend.fullname" . }}
  labels:
    {{- include "session-backend.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  {{- if .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "session-backend.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: api
{{- end }}
