apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ name }}
  labels:
    app: {{ name }}
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
spec:
  rules:
    - host: ${INGRESS_HOST}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ name }}
                port:
                  number: 80